{% extends "app.html" %}
{% block content %}
<main class="auth layout">

  <div class="container" style="align-items: center;">
    
      
  
        <form class="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}
          <div class="form__group form__group file_inputs"  id="file_skill">

            {% for skill in skills %}
            <label >skill</label>
            <input type="text" name="skill" id="skill" value="{{skill.name}}" style="margin-bottom: 15px;"/>
            {% endfor %}
            <!-- <label >skill</label>
            <input type="text" name="skill" id="skill" value="" style="margin-bottom: 15px;" required/>
            -->

          </div>
          
          <a href="#" onClick="addskill()" >add  skill</a>
            <br>
            <br>
            <div class="form__group form__group file_inputs" id="file_education">
              {% for education in educations %}
                <label >education name</label>
                <input type="text" name="education" id="education" value="{{education.name}}" style="margin-bottom: 15px;"/>
                <label>Started Date</label>
                <input type="date" name="timestart" id="timestart"  value="{{education.timestart|date:'Y-m-d'}}"/>
                <label>Ended Date</label>
                <input type="date" name="timeend" id="timeend" value="{{education.timeend|date:'Y-m-d'}}"/>
              {% endfor %}
              <br>
              <br>
              <!-- <label >education</label>
                <input type="text" name="education" id="education" value="" style="margin-bottom: 15px;"/>
                <label>Started Date</label>
                <input type="date" name="timestart" id="timestart"/>
                <label>Ended Date</label>
                <input type="date" name="timeend" id="timeend"/> -->
                
            </div>
            <a href="#" onClick="addeducation()" >add  Education</a>
            <br>
            <br>

            <div class="form__group form__group file_inputs" id="file_experience">
              {% for experience in experiences %}
                <label >experience</label>
                <input type="text" name="experience" id="experience" value="{{experience.name}}" style="margin-bottom: 15px;"/>
                <label>Started Date</label>
                <input type="date" name="etimestart" id="etimestart"  value="{{experience.timestart|date:'Y-m-d'}}"/>
                <label>Ended Date</label>
                <input type="date" name="etimeend" id="etimestart" value="{{experience.timeend|date:'Y-m-d'}}"/>
              {% endfor %}
              <label >experience</label>
              <input type="text" name="experience" id="experience" value="{{experience.name}}" style="margin-bottom: 15px;"/>
              <label>Started Date</label>
              <input type="date" name="etimestart" id="etimestart"  value="{{experience.timestart|date:'Y-m-d'}}"/>
              <label>Ended Date</label>
              <input type="date" name="etimeend" id="etimestart" value="{{experience.timeend|date:'Y-m-d'}}"/>
              <br>
              <br>
            </div>
              <a href="#" onclick="addexperience()">Add Experience</a>
              <br><br>
          <button class="btn btn--main" type="submit">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>lock</title>
              <path
                d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
              ></path>
              <path
                d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
              ></path>
            </svg>
  
            submit
          </button>
          <br>
          <br>
        </form>
        <script type="text/javascript">
          // method to add an file input box when clicked on add new item link
          function addskill(){
                  a = document.getElementById('file_skill')
          
                  divx=document.createElement('div')
                  divx.class='form__group form__group'
          
                   x=document.createElement('input');
                   x.name='skill';
                   x.style='margin-bottom: 15px;';
                  //  x.type='file';
                  //  x.name='docfile';
          
                   divx.appendChild(x);
                   a.appendChild(divx) ;
          }
          function addeducation(){
                  a = document.getElementById('file_education')
          
                  divx=document.createElement('div')
                  divx.class='form__group form__group'
          
                   x=document.createElement('input');
                   x.name='education';
                  //  x.name='timestart';
                  //  x.name ='timeend';
                   x.style='margin-bottom: 15px;';

                   y = document.createElement('input')
                   y.type = 'date';
                   y.name ='timestart';
                   y.style='margin-bottom: 15px;';

                   z = document.createElement('input')
                   z.type = 'date';
                   z.name ='timeend';
                   z.style='margin-bottom: 15px;';
                
                  //  x.type='file';
                  //  x.name='docfile';
          
                   divx.appendChild(x);
                   divx.appendChild(y);
                   divx.appendChild(z);
                   a.appendChild(divx) ;
          }
          function addexperience(){
                  a = document.getElementById('file_experience')
          
                  divx=document.createElement('div')
                  divx.class='form__group form__group'
          
                   x=document.createElement('input');
                   x.name='experience';
                  //  x.name='timestart';
                  //  x.name ='timeend';
                   x.style='margin-bottom: 15px;';

                   y = document.createElement('input')
                   y.type = 'date';
                   y.name ='etimestart';
                   y.style='margin-bottom: 15px;';

                   z = document.createElement('input')
                   z.type = 'date';
                   z.name ='etimeend';
                   z.style='margin-bottom: 15px;';
                
                  //  x.type='file';
                  //  x.name='docfile';
          
                   divx.appendChild(x);
                   divx.appendChild(y);
                   divx.appendChild(z);
                   a.appendChild(divx) ;
          }
          </script>
  
        
    
  </div>
</main>

{% endblock content %}
