{% extends "app.html" %}

{% block content %}
<h1 class="mx-auto my-0 text-uppercase">login</h1>
<main class="form-signin">
    {% for message in messages  %}
            <li class="text-danger">{{message}}</li>
    {% endfor %}
    <form action="" method="POST">
      {% csrf_token %}
      
  
      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingInput" placeholder="admin" name="username">
        <label for="floatingInput">User Name</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
     
    </form>
  </main>

{% endblock content %}

   
