{% extends "app.html" %}
{% block content %}
<h1 class="mx-auto my-0 text-uppercase ">Register</h1>
<div>
    
    <main class="form-signin">
       
        {% for message in messages  %}
            <li class="text-danger">{{message}}</li>
        {% endfor %}
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="floatingInput" placeholder="admin" name="username">
              <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password1">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password2">
                <label for="floatingPassword">Confirm Password</label>
              </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
           
          </form>
    </main>
  
    
    
</div>
{% endblock content %}
   
